<div class="home-header pure-menu pure-menu-horizontal">
  <div class="home-header-bar">
    <ul class="home-header-menu pure-menu-list">
      <li class="pure-menu-item">
        <a href="{{ '/' | relative_url }}" class="pure-menu-link {% if page.url == '/' %}current-item{% endif %}">Home</a>
      </li>
      {% assign articles = site.posts | where_exp: "p", "p.path contains '_posts/articles/'" %}
      {% assign first_tags = "" | split: "" %}
      {% for post in articles %}
        {% assign ft = post.tags[0] %}
        {% unless first_tags contains ft %}
          {% assign first_tags = first_tags | push: ft %}
        {% endunless %}
      {% endfor %}
      {% for tag in first_tags %}
        {% assign tag_url = '/' | append: tag | downcase | append: '/' %}
        <li class="pure-menu-item">
          <a href="{{ tag_url | relative_url }}" class="pure-menu-link {% if page.url == tag_url %}current-item{% endif %}">{{ tag | capitalize }}</a>
        </li>
      {% endfor %}
      <li class="pure-menu-item">
        <a href="{{ '/recent/' | relative_url }}" class="pure-menu-link {% if page.url == '/recent/' %}current-item{% endif %}">Recent</a>
      </li>
    </ul>
  </div>
</div>
