// Home Header
//
// Styles for the home header.

.home-header-bar {
  width: 100%;
  height: 100%;

  -webkit-box-shadow: 0 1em 1em -.9em var(--border-color);
     -moz-box-shadow: 0 1em 1em -.9em var(--border-color);
          box-shadow: 0 1em 1em -.9em var(--border-color);
}

.home-header-menu {
  display: flex;

  a {
    border-bottom: 1px solid rgba(0, 0, 0, 0);

    &:hover,
    &:focus {
      color: inherit;
      background-color: inherit;
      border-bottom-color: var(--link-color);
    }
  }

  .current-item {
    border-bottom-color: var(--link-color);
  }
}

.theme-switcher {
  margin-left: auto;
}

.theme-btn {
  background: none;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  border-radius: 0;
  padding: .5em 1em;
  font-size: inherit;
  line-height: inherit;
  cursor: pointer;
  color: var(--link-color);
  font-family: inherit;

  &:hover,
  &:focus {
    color: inherit;
    background-color: inherit;
    border-bottom-color: var(--link-color);
  }
}
